In [13]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [51]:
data = np.load("processed_data.npz")

In [52]:
X_train = data['X_train']
y_train = data['y_train']
X_test = data['X_test']
y_test = data['y_test']

In [69]:
df.iloc[[605255]]

,date,active_power,current,voltage,reactive_power,apparent_power,power_factor,main,description,temp,...,humidity,speed,deg,hour,minute,day_of_week,month,active_power_lag_1,active_power_lag_2,active_power_rolling_mean
605255,2024-01-05 23:55:00,316.3,2.53,129.1,81.46,326.62,0.9684,Clouds,few clouds,12.32,...,40,2.05,160,23,55,4,1,316.3,316.3,316.3

In [55]:
pd.DataFrame(X_test).tail(100)

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
120952,1.034303,1.229750,1.379700,1.178231,0.423293,-1.755666,-1.716448,-1.605513,-2.003092,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120953,1.034303,1.229750,1.379700,1.178231,0.423293,-1.676218,-1.626361,-1.523553,-1.920622,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
120954,1.034303,1.229750,1.379700,1.178231,0.423293,-1.676218,-1.626361,-1.523553,-1.920622,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
120955,2.449058,0.942821,1.246271,2.657378,0.911314,-1.755666,-1.716448,-1.605513,-2.003092,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120956,0.694761,1.287136,1.119382,0.818903,0.336012,-1.755666,-1.716448,-1.605513,-2.003092,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121047,-0.135228,1.487987,-0.764914,-0.061415,0.938531,-1.216015,-1.325087,-1.706031,-1.187722,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121048,6.812790,0.254190,8.758452,7.119697,0.302226,-1.150058,-1.257153,-1.706031,-1.187722,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121049,6.800215,0.282883,8.647551,7.113713,0.320996,-1.216015,-1.325087,-1.706031,-1.187722,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121050,-0.304999,1.631452,-0.873489,-0.238403,0.931023,-1.150058,-1.257153,-1.706031,-1.187722,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121051,-0.304999,1.631452,-0.873489,-0.238403,0.931023,-1.150058,-1.257153,-1.706031,-1.187722,-0.419216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
X_train.shape,X_test.shape

((484208, 36), (121052, 36))

In [9]:
df_train = pd.DataFrame(X_train)

In [11]:
df_train.head(10)

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,-0.135228,-0.491827,0.363425,-0.153006,-0.102269,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.135228,-0.491827,0.363425,-0.153006,-0.102269,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.135228,-0.491827,0.363425,-0.153006,-0.102269,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.700809,-0.922221,0.261536,1.676966,0.980764,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.172955,-0.434441,0.351361,-0.188907,-0.153887,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-0.172955,-0.434441,0.351361,-0.188907,-0.153887,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,-0.172955,-0.434441,0.351361,-0.188907,-0.153887,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,-0.172955,-0.434441,0.351361,-0.188907,-0.153887,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,-0.172955,-0.434441,0.351361,-0.188907,-0.153887,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,-0.172955,-0.434441,0.351361,-0.188907,-0.153887,0.563335,0.59923,0.67082,0.919171,-0.249671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df.shape

(605260, 19)

In [71]:
df = pd.read_csv("data.csv")

In [45]:
df.head(5)

,date,active_power,current,voltage,reactive_power,apparent_power,power_factor,main,description,temp,feels_like,temp_min,temp_max,pressure,humidity,speed,deg,temp_t+1,feels_like_t+1
0,2022-11-05 14:05:00,265.1,2.53,122.2,159.09,309.17,0.8575,Clear,clear sky,24.19,23.68,23.44,27.5,1013,39,0.0,0,29.63,27.97
1,2022-11-05 14:06:00,265.1,2.53,122.2,159.09,309.17,0.8575,Clear,clear sky,24.19,23.68,23.44,27.5,1013,39,0.0,0,29.63,27.97
2,2022-11-05 14:07:00,265.1,2.53,122.2,159.09,309.17,0.8575,Clear,clear sky,24.19,23.68,23.44,27.5,1013,39,0.0,0,29.63,27.97
3,2022-11-05 14:08:00,640.0,5.45,120.7,152.08,657.82,0.9729,Clear,clear sky,24.19,23.68,23.44,27.5,1013,39,0.0,0,29.63,27.97
4,2022-11-05 14:09:00,257.6,2.47,122.4,158.26,302.33,0.8520,Clear,clear sky,24.19,23.68,23.44,27.5,1013,39,0.0,0,29.63,27.97

In [72]:
df = df.drop(columns=['temp_t+1', 'feels_like_t+1'])

# Convert 'date' to datetime
df['date'] = pd.to_datetime(df['date'])
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

df['day_of_week'] = df['date'].dt.dayofweek
df['month'] = df['date'].dt.month

# Create lag features for 'active_power'
df['active_power_lag_1'] = df['active_power'].shift(1)
df['active_power_lag_2'] = df['active_power'].shift(2)
df['active_power_rolling_mean'] = df['active_power'].rolling(window=3).mean()

# Handle missing values by forward filling
df.fillna(method='ffill', inplace=True)

In [76]:
df.iloc[[605255]]

,date,active_power,current,voltage,reactive_power,apparent_power,power_factor,main,description,temp,...,humidity,speed,deg,hour,minute,day_of_week,month,active_power_lag_1,active_power_lag_2,active_power_rolling_mean
605255,2024-01-05 23:55:00,316.3,2.53,129.1,81.46,326.62,0.9684,Clouds,few clouds,12.32,...,40,2.05,160,23,55,4,1,316.3,316.3,316.3

In [75]:
df.iloc[[605255]]['active_power_lag_1'],df.iloc[[605255]]['active_power_lag_2'],df.iloc[[605255]]['active_power_rolling_mean']

(605255    316.3
 Name: active_power_lag_1, dtype: float64,
 605255    316.3
 Name: active_power_lag_2, dtype: float64,
 605255    316.3
 Name: active_power_rolling_mean, dtype: float64)

In [18]:
df.shape

(605260, 23)

In [50]:
df.tail(5)

,date,active_power,current,voltage,reactive_power,apparent_power,power_factor,main,description,temp,...,humidity,speed,deg,hour,minute,day_of_week,month,active_power_lag_1,active_power_lag_2,active_power_rolling_mean
605255,2024-01-05 23:55:00,316.3,2.53,129.1,81.46,326.62,0.9684,Clouds,few clouds,12.32,...,40,2.05,160,23,55,4,1,316.3,316.3,316.300000
605256,2024-01-05 23:56:00,1526.3,13.58,124.8,736.67,1694.78,0.9006,Clouds,few clouds,12.76,...,39,2.05,160,23,56,4,1,316.3,316.3,719.633333
605257,2024-01-05 23:57:00,1528.7,13.56,124.9,729.04,1693.64,0.9026,Clouds,few clouds,12.32,...,40,2.05,160,23,57,4,1,1526.3,316.3,1123.766667
605258,2024-01-05 23:58:00,283.4,2.26,129.6,73.99,292.90,0.9676,Clouds,few clouds,12.76,...,39,2.05,160,23,58,4,1,1528.7,1526.3,1112.800000
605259,2024-01-05 23:59:00,283.4,2.26,129.6,73.99,292.90,0.9676,Clouds,few clouds,12.76,...,39,2.05,160,23,59,4,1,283.4,1528.7,698.500000

In [37]:
X = df.drop(columns=['active_power', 'date','main'])
y = df['active_power']

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [42]:
X_train.tail()

,current,voltage,reactive_power,apparent_power,power_factor,description,temp,feels_like,temp_min,temp_max,pressure,humidity,speed,deg,hour,day_of_week,month,active_power_lag_1,active_power_lag_2,active_power_rolling_mean
484203,1.92,129.6,192.97,248.83,0.6314,clear sky,28.42,27.69,27.44,29.9,1012,35,4.63,360,14,4,10,304.1,304.1,255.100000
484204,1.92,129.6,192.97,248.83,0.6314,clear sky,29.81,28.89,29.17,29.9,1006,34,6.32,10,14,4,10,157.1,304.1,206.100000
484205,1.91,129.7,191.87,247.73,0.6325,clear sky,29.81,28.89,29.17,29.9,1006,34,6.32,10,14,4,10,157.1,157.1,156.966667
484206,1.91,129.7,191.87,247.73,0.6325,clear sky,29.81,28.89,29.17,29.9,1006,34,6.32,10,14,4,10,156.7,157.1,156.833333
484207,1.91,129.7,191.87,247.73,0.6325,clear sky,29.81,28.89,29.17,29.9,1006,34,6.32,10,14,4,10,156.7,156.7,156.700000

In [31]:
categorical_features = ['description']
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

numeric_features = X_train.select_dtypes(include=['int64', 'float64']).columns.tolist()
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [32]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [35]:
df['description'].nunique()

16

In [36]:
X_train

array([[-0.13522812, -0.49182663,  0.3634251 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.13522812, -0.49182663,  0.3634251 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.13522812, -0.49182663,  0.3634251 , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.52507169,  1.66014472,  0.8398768 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.52507169,  1.66014472,  0.8398768 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.52507169,  1.66014472,  0.8398768 , ...,  0.        ,
         0.        ,  0.        ]])